{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">West East Designs</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                </br></br>
                    West East Designs is a female-owned studio, shop and small business 
                    that specializes in multimedia and graphic design.

                    In 2003, we launched in California and are now based in Baltimore, Maryland, USA.
                </br></br>
                    In the beginning, West East Designs was established to provide graphics, photography, marketing, merchandise, and web design for an independent music label and musicians. Soon the clientele extended beyond the music industry and included various small businesses, realtors, political parties, and people hosting all kinds of events.
                </br></br>
                    The West East Designs studio has expanded greatly over the years into an efficient remote workplace, including state of the art equipment, current industry-standard programs, reliable product vendors, and a distraction-free environment. Our new location is a wonder of endless inspiration, nestled within a beautiful state park.
                </br></br>
                    Staying up-to-date on current trends and technologies satisfies an unwavering passion to learn something new every day. Curiosity brings out creativity and helps discover new skills to offer the world, such as developing sound designs with binaural beats and nature recordings for meditation, or building custom interactive graphics for streamers.
                </br></br>
                    In summary, we design to help others shine their unique light on the world. We aim to direct attention in the right direction.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}